:root {
  --brown: #786450;
}
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 400px;
  background: linear-gradient(to right top, #EEBE6C 00% , #CA7C4E 100%);
  border-radius: 5px;
  font-family: sans-serif, Helvetica;
}
.card {
  display: flex;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 11px 11px 15px rgba(0, 0, 0, 0.3) ;
}
.profile {  
  width: 190px;
  height: 100%;
  text-align: center;
 
}

img {
  margin-top: 40px;
  height: 75px;
  width: 75px;
  border-radius: 50%;

}
.cir-1 , .cir-2 {  
  position: absolute;
  top: 36px;
  left: 53px;
  width: 80px;
  height: 80px;
  border:1px solid #786450;
  border-left-color: transparent;
  border-radius: 50px;  
  transition: all 1.5s ease-in-out;
}
.img > .cir-2 {
  width: 86px;
  height: 86px;
  top: 33px;
  left: 50px;
  border-left-color: #786450;
  border-right-color: transparent;
}
.img:hover {

  cursor: pointer;
}
.img:hover > .cir-1 {
  transform: rotate(360deg);
  border-radius: 30%;
}
.img:hover > .cir-2 {
  transform: rotate(-360deg);
  border-radius: 30%;
}

h1 {
  color: var(--brown); 
  font-weight: 600;
  font-size: 14px;  
  margin: 15px 0 4px 0;
}
h2 {
  color:var(--brown);
  font-weight: normal;
  font-size: 11px;
  margin: 0;
}
.btns {  
  margin-top: 30px; 
}
.btn {
  font-weight: 600;
  width: 120px;
  height: 30px;
  display: block;
  background: none;
  border: 1px solid var(--brown);
  color: var(--brown);
  border-radius: 20px;
  margin: 10px auto;  
  transition: all .3s ease-in-out;
}
.btn:hover {
  cursor: pointer;
  background: var(--brown);
  color: #fff;
}

.stats {  
  width: 110px;
  height: 100%;
  text-align: center;
}
.box {
  box-sizing: border-box;
  width: 100%;
  height: 98px;
  margin: 1.3px 0;
  background: #F5E8DF;
  padding-top: 30px ;  
  transition: all .5s ease-in-out;
}
.box:hover {
  background: #E1CFC2;
  cursor: pointer;
}
.box > h1 {
  margin: 0;
  font-size: 18px;
}
