.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  width: 400px;
  background: #42A7A1;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  font-family: Helvetica, sans-serif;    
  color: #fff;
}
.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 220px;
  width: 270px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.header {
  height: 60px;
  width: 100%;
  background: #F1BA64;    
  position: relative;
}
.grade {
  text-transform: uppercase;
  position: absolute;
  font-weight: bold;    
  font-size: 14px; 
}
.peq {
  position: absolute;
  font-weight: 300;  
  font-size: 13px; 
}
.header > .title {
  top: 13px;
  left: 18px;
}
.header > .date {
  top: 30px;
  left: 18px;
}
.header > .type {  
  top: 13px;
  left: 202px; 
}
.header > .value {
  top: 30px;
  left: 191px;
}
.parameter {
  text-align: right; 
  padding-top: 10px;
  padding-bottom: 18px;
}
.parameter > p{
  display: inline;
  position: relative;
  font-size: 11px;
  padding: 0 20px 0px 10px;
  color: #606060;
}
.parameter > p:before {
  position: absolute;
  top: 4px;
  left: -12px;
  height: 5px;
  width: 13px; 
  content: '';
  border-radius: 5px;
}
.red::before {
  background: red;
}
.blue::before {
  background: blue;
}
.statistic {
  position: relative;
  height: 80px;
  width: 250px;
  margin: auto;
}
.statistic > div{
  position: absolute;
  top: 0;
  width: 100%;
  height: 1.2px;
  background: #F2F2F2;
}
.statistic > div.line-2 {
  top: 40px;
}
.statistic > div.line-3 {
  top: inherit;
  bottom: 0;
}

.data polyline {
  fill:none;
  stroke-width: 2;
  stroke-linecap: round;
} 
.red polyline {  
  stroke: red; 
} 
.blue polyline {  
  stroke: blue; 
} 

.points > div {
  position: absolute;
  width: 6px;
  height: 6px;  
  border-radius: 50%;
}
.red > .points > .one {
  top: 43px;
  left: 7px;
}
.red > .points > .two {
  top: 10px;
  left: 47px;
}
.red > .points > .three {
  top: 19.6px;
  left: 86px;
}
.red > .points > .four {
  top: 8px;
  left: 122px;
}
.red > .points > .five {
  top: 34px;
  left: 158px;
}
.red > .points > .six {
  top: 44px;
  left: 197px;
}
.red > .points > .seven {
  top: 16px;
  left: 234px;
}
.points .red {
  background: red;
}
.points .blue {
  background: blue;
}

.blue > .points > .one {
  top: 58px;
  left: 7px;
}

.blue > .points > .two {
  top: 47px;
  left: 47px;
}
.blue > .points > .three {
  top: 61px;
  left: 86px;
}
.blue > .points > .four {
  top: 52px;
  left: 122px;
}
.blue > .points > .five {
  top: 58px;
  left: 158px;
}
.blue > .points > .six {
  top: 70px;
  left: 197px;
}
.blue > .points > .seven {
  top: 60.9px;
  left: 234px;
}

.days {
  width: 260px;
  background: #000;
  margin: auto;
}
.day {
  float: left;
  width: 37px; 
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;  
  line-height: 10px;
  color: #949494;
}
